* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;

}

.section {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#EE9CA7,#FFDDE1);
    height: 100vh;
    
}

.main{
    padding-top: 30px ;
}

.body {
    background-image: linear-gradient(#D4145A , #FBB03B);
    width: 450px;
    height: 450px;
    margin-top: 250px;
    border-radius: 10px;
}

.search {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.searchbox {
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-top: 100px;
    font-family: "Roboto", serif;
    padding-top: 50px;
}

.city {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.temp {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.minmax {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
}